body{
    padding-left: 30px;
    padding-right: 30px;

}
.upper__left, .footer__left{
    height: 20px;
    width: 20px;
}

.sign-in, .get-started{
    display: inline-block;
    position: relative;
    color: greenyellow;
    text-decoration: none;
}
.get-started{
    border: greenyellow 1px solid;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
}
.upper__right{
    display: inline-block;
    float: right;
}
.nav__lower{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}
.nav__lower a{
    text-decoration: none;
    color: gray;

}
